<a href="https://colab.research.google.com/github/Momo227/nlp_practice/blob/Chapter3/Chapter3_3_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**JSON**（JavaScript Object Notation）：構造化されたデータをテキスト形式で表現するためのフォーマット。
* cvsやtvsと比較して、より複雑な構造を持つデータを表現しやすい。
* Pandasでは'read_json'を用いて読み込み可能。

In [2]:
import pandas as pd

In [3]:
pd.read_json('example.json', encoding='utf-8')

  name grade
0   高橋     B
1   佐藤     C
2   田中     A

**JSON Line** :改行で区切られたJSONファイル。
* 各行が形式で表現されている。
* read_jsonメソッドのlines引数にlines=Trueを設定する必要あり。

In [4]:
pd.read_json('example.jsonl', lines=True, encoding='utf-8')

  name grade
0   高橋     B
1   佐藤     A
2   田中     C